@import "tailwindcss";

@theme {
  --color-primary-fixed: #97f8a9;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed: #00210a;
  --color-inverse-surface: #2e312f;
  --color-surface-dim: #d9dad8;
  --color-secondary-container: #a5f5b1;
  --color-surface-container-low: #f3f4f1;
  --color-surface-container-highest: #e2e3e0;
  --color-tertiary-fixed: #ffd9dd;
  --color-surface: #f9faf7;
  --color-outline-variant: #becabc;
  --color-on-background: #191c1b;
  --color-primary: #006b30;
  --color-on-primary: #ffffff;
  --color-inverse-primary: #7bdb8f;
  --color-secondary-fixed: #a5f5b1;
  --color-primary-fixed-dim: #7bdb8f;
  --color-surface-tint: #006d32;
  --color-background: #f9faf7;
  --color-on-tertiary: #ffffff;
  --color-surface-container-high: #e7e8e6;
  --color-on-tertiary-fixed: #400013;
  --color-on-tertiary-container: #fffbff;
  --color-secondary: #1c6c37;
  --color-on-surface: #191c1b;
  --color-on-secondary-container: #24723c;
  --color-surface-container: #edeeeb;
  --color-surface-variant: #e2e3e0;
  --color-error: #ba1a1a;
  --color-secondary-fixed-dim: #89d897;
  --color-on-primary-container: #f7fff3;
  --color-inverse-on-surface: #f0f1ee;
  --color-on-surface-variant: #3f493f;
  --color-error-container: #ffdad6;
  --color-on-tertiary-fixed-variant: "#80253b";
  --color-surface-bright: #f9faf7;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary: #9c3a4f;
  --color-on-primary-fixed: #00210a;
  --color-outline: #6f7a6e;
  --color-tertiary-fixed-dim: #ffb2bd;
  --color-tertiary-container: #bb5267;
  --color-on-secondary-fixed-variant: #005224;
  --color-primary-container: #218544;
  --color-on-primary-fixed-variant: #005224;
  --color-palawan-yellow: #fec311;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Plus Jakarta Sans", sans-serif;
  
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
  
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

body { 
  font-family: 'Plus Jakarta Sans', sans-serif; 
}

.font-headline { font-family: 'Manrope', sans-serif; }

.material-symbols-outlined {
   font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.active-nav .material-symbols-outlined {
   font-variation-settings: 'FILL' 1;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details[open] summary .expand-icon {
    transform: rotate(180deg);
}

body {
  min-height: max(884px, 100dvh);
}
